html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: "Spartan",sans-serif;
   
    
   
   
    
}
/*BACKGROUND STYLE*/


@media only screen and (min-width:1440px) {
    .pattern-top img:nth-child(2), .pattern-bottom img:nth-child(2){
        display: none;
    }
}





.pattern-top{
    position: absolute;
    top: 0;
    left: 0;
}
.pattern-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
}

/*UPPER GRID STYLE*/

.upper-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5% 10%;

}

.description-container{
    color: hsl(300, 43%, 22%);
    width: 85%;
}

.description-container h1{
    font-size: 3.3em;
    
}

.rating-container{
   
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
}

.rate{
    background-color:hsl(300, 24%, 96%) ;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 40px;
    font-size: 0.8rem;
    
    gap: 20px;
    border-radius: 10px;
    width: 65%;
    height: 80%;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}


.left{
    justify-self: flex-start;
}

.mid{
    justify-self: center;
}

.right{
    justify-self: flex-end;
}
/*BOTTOM FLEX STYLE*/
.bottom-container{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
    
    margin: 5% 10% 0 10%;
    gap:30px;
    height: 350px;
    
}

.card-container{
    background-color: hsl(300, 43%, 22%);
    border-radius: 15px;
    padding: 13%;
    color: white;
    
}

.pic-name-container{
    display: flex;
    justify-content: left;
    gap: 20px;
    
}

.name p:nth-child(2){
    color: hsl(333, 80%, 67%);
    margin-top: 0;
}

.name p:nth-child(1){
    margin-bottom: 0;
}

.pic img{
    width: 60px;
    border-radius: 50%;
}

.top{
    align-self: flex-start;
}

.middle{
    align-self: center;
}

.bottom{
    align-self: flex-end;
}

.attribution{
    
    display: flex;
    justify-content: center;
}

@media only screen and (max-width:375px){
    .pattern-top img:nth-child(1), .pattern-bottom img:nth-child(1){
        display: none;
    }

    .pattern-top{
        position: absolute;
        top: 0;
        left: 0;
    }
    .pattern-bottom {
        position: absolute;
        
        bottom: 0;
    }
    
    .upper-container{
        display: grid;
        
        grid-template-columns: 1fr ;
        margin: 5% 10%;
        
    }

    .description-container{
        color: hsl(300, 43%, 22%);
        width: 100%;
    }

    .rate{
        flex-direction: column;
        
        gap: 0;
    }

    .left, .mid, .right{
        justify-self: center;
    }

    .bottom-container{
    
        display: grid;
        grid-template-columns: 1fr;
       
        
        margin: 5% 10% 0 1%0;
        gap:30px;
        height: auto;
    }

    .attribution{
        font-size: 0.5em;
    }
}

